# Divar Real-State Dataset <br>

----

### Import Essential Libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Load the data

In [18]:
data = pd.read_csv("Divar Dataset/Divar.csv")

/var/folders/9y/lpsdwq1d0bz2t5178sr1rgmr0000gn/T/ipykernel_37554/3783358663.py:1: DtypeWarning:

Columns (11,27,29,53) have mixed types. Specify dtype option on import or set low_memory=False.

## Exploratory Data Analysis

In [ ]:
# Remove the index column
data = data.drop(columns=["Unnamed: 0"])
data.head(5)

,cat2_slug,cat3_slug,city_slug,neighborhood_slug,created_at_month,user_type,description,title,rent_mode,rent_value,...,property_type,regular_person_capacity,extra_person_capacity,cost_per_extra_person,rent_price_on_regular_days,rent_price_on_special_days,rent_price_at_weekends,location_latitude,location_longitude,location_radius
0,temporary-rent,villa,karaj,mehrshahr,2024-08-01 00:00:00,مشاور املاک,۵۰۰متر\n۲۰۰متر بنا دوبلکس\n۳خواب\nاستخر آبگرم ...,باغ ویلا اجاره روزانه استخر داخل لشکرآباد سهیلیه,NaN,NaN,...,NaN,4.0,6,350000.0,1500000.0,3.500000e+09,3500000.0,35.811684,50.936600,500.0
1,residential-sell,apartment-sell,tehran,gholhak,2024-05-01 00:00:00,مشاور املاک,دسترسی عالی به مترو و شریعتی \nمشاعات تمیز \nب...,۶۰ متر قلهک فول امکانات,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500.0
2,residential-rent,apartment-rent,tehran,tohid,2024-10-01 00:00:00,NaN,تخلیه پایان ماه,آپارتمان ۳ خوابه ۱۳۲ متر,مقطوع,26000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.703865,51.373459,NaN
3,commercial-rent,office-rent,tehran,elahiyeh,2024-06-01 00:00:00,NaN,فرشته تاپ لوکیشن\n۹۰ متر موقعیت اداری\nیک اتاق...,فرشته ۹۰ متر دفتر کار مدرن موقعیت اداری,مقطوع,95000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,residential-sell,apartment-sell,mashhad,emamreza,2024-05-01 00:00:00,مشاور املاک,هلدینگ ساختمانی اکبری\n\nهمراه شما هستیم برای ...,۱۱۵ متری/شمالی رو به آفتاب/اکبری,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Data basic information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 61 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   Unnamed: 0                  1000000 non-null  int64
 1   cat2_slug                   1000000 non-null  object
 2   cat3_slug                   999999 non-null   object
 3   city_slug                   999998 non-null   object
 4   neighborhood_slug           437139 non-null   object
 5   created_at_month            1000000 non-null  object
 6   user_type                   288882 non-null   object
 7   description                 1000000 non-null  object
 8   title                       999946 non-null   object
 9   rent_mode                   352994 non-null   object
 10  rent_value                  351322 non-null   float64
 11  rent_to_single              19 non-null       object
 12  rent_type                   103961 non-null   object
 13  price_mode                  573606 non-null   object
 14  price_value                 568346 non-null   float64
 15  credit_mode                 352994 non-null   object
 16  credit_value                352095 non-null   float64
 17  rent_credit_transform       352985 non-null   object
 18  transformable_price         352894 non-null   object
 19  transformable_credit        352085 non-null   float64
 20  transformed_credit          72409 non-null    float64
 21  transformable_rent          351248 non-null   float64
 22  transformed_rent            72409 non-null    float64
 23  land_size                   186396 non-null   float64
 24  building_size               980394 non-null   float64
 25  deed_type                   253458 non-null   object
 26  has_business_deed           34679 non-null    object
 27  floor                       541748 non-null   object
 28  rooms_count                 845899 non-null   object
 29  total_floors_count          304352 non-null   object
 30  unit_per_floor              302283 non-null   object
 31  has_balcony                 506411 non-null   object
 32  has_elevator                541749 non-null   object
 33  has_warehouse               728155 non-null   object
 34  has_parking                 728156 non-null   object
 35  construction_year           815828 non-null   object
 36  is_rebuilt                  529470 non-null   object
 37  has_water                   33444 non-null    object
 38  has_warm_water_provider     379500 non-null   object
 39  has_electricity             33445 non-null    object
 40  has_gas                     33430 non-null    object
 41  has_heating_system          368969 non-null   object
 42  has_cooling_system          350619 non-null   object
 43  has_restroom                406913 non-null   object
 44  has_security_guard          31312 non-null    object
 45  has_barbecue                31198 non-null    object
 46  building_direction          323923 non-null   object
 47  has_pool                    29390 non-null    object
 48  has_jacuzzi                 28728 non-null    object
 49  has_sauna                   28479 non-null    object
 50  floor_material              405984 non-null   object
 51  property_type               27057 non-null    object
 52  regular_person_capacity     29870 non-null    float64
 53  extra_person_capacity       24009 non-null    object
 54  cost_per_extra_person       10241 non-null    float64
 55  rent_price_on_regular_days  18068 non-null    float64
 56  rent_price_on_special_days  10463 non-null    float64
 57  rent_price_at_weekends      13551 non-null    float64
 58  location_latitude           655608 non-null   float64
 59  location_longitude          655608 non-null   float64
 60  location_radius             339699 non-null   float64
dtypes: float64(17), int64(1), object(43)
memory usage: 465.4+ MB
None

-> Dataset contains 60 columns:
- 43 object (23 string | 16 boolean | 4 mixed)
- 17 float

In [31]:
# Statistical description of categorical columns
data.describe(include='object')

,cat2_slug,cat3_slug,city_slug,neighborhood_slug,created_at_month,user_type,description,title,rent_mode,rent_to_single,...,has_restroom,has_security_guard,has_barbecue,building_direction,has_pool,has_jacuzzi,has_sauna,floor_material,property_type,extra_person_capacity
count,1000000,999999,999998,437139,1000000,288882,1000000,999946,352994,19,...,406913,31312,31198,323923,29390,28728,28479,405984,27057,24009
unique,6,16,421,1188,46,2,989449,904092,3,2,...,4,2,2,5,2,2,2,8,5,36
top,residential-sell,apartment-sell,tehran,elahiyehblvd,2024-07-01 00:00:00,مشاور املاک,❌فروش ویلا و زمین زیرقیمت منطقه و بدون واسطه ب...,خانه ویلایی,مقطوع,True,...,squat_seat,False,False,south,False,False,False,ceramic,jungle,2
freq,558708,303385,190904,7076,133219,256006,220,1867,292081,18,...,219393,24631,23377,159453,25669,26455,27084,307821,16614,6849

In [32]:
# Statistical description of numerical columns
data.describe(include='number')

,rent_value,price_value,credit_value,transformable_credit,transformed_credit,transformable_rent,transformed_rent,land_size,building_size,regular_person_capacity,cost_per_extra_person,rent_price_on_regular_days,rent_price_on_special_days,rent_price_at_weekends,location_latitude,location_longitude,location_radius
count,3.513220e+05,5.683460e+05,3.520950e+05,3.520850e+05,7.240900e+04,3.512480e+05,7.240900e+04,1.863960e+05,9.803940e+05,29870.000000,1.024100e+04,1.806800e+04,1.046300e+04,1.355100e+04,655608.000000,655608.000000,339699.000000
mean,4.102299e+10,1.736537e+10,4.872084e+10,4.872222e+10,8.557025e+09,4.103164e+10,1.619934e+07,4.165480e+03,4.440648e+03,6.557650,1.209785e+10,1.389016e+11,2.355548e+10,3.156551e+10,34.982108,51.629743,465.149147
std,3.807534e+12,5.878739e+11,4.341346e+12,4.341407e+12,2.064576e+12,3.807935e+12,5.217890e+07,1.218927e+05,1.367118e+05,7.698655,1.103482e+12,7.042335e+12,1.542049e+12,2.434942e+12,2.379169,3.160920,125.896250
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,23.626478,40.162369,0.000000
25%,1.111110e+05,1.400000e+09,1.000000e+08,1.000000e+08,2.000000e+08,1.111110e+05,1.000000e+06,1.100000e+02,7.500000e+01,3.000000,5.000000e+04,4.000000e+05,6.000000e+05,5.500000e+05,34.553551,50.677175,500.000000
50%,5.000000e+06,2.840000e+09,2.500000e+08,2.500000e+08,4.000000e+08,5.000000e+06,6.000000e+06,1.950000e+02,1.030000e+02,4.000000,1.000000e+05,8.000000e+05,1.200000e+06,1.100000e+06,35.723312,51.345791,500.000000
75%,1.200000e+07,5.900000e+09,5.000000e+08,5.000000e+08,8.500000e+08,1.200000e+07,1.500000e+07,2.800000e+02,1.650000e+02,7.000000,2.000000e+05,1.600000e+06,2.500000e+06,2.500000e+06,36.307013,51.805291,500.000000
max,1.000000e+15,1.000000e+14,1.000000e+15,1.000000e+15,5.555556e+14,1.000000e+15,3.000000e+09,1.000000e+07,1.000000e+07,50.000000,1.111111e+14,5.006007e+14,1.111111e+14,2.002503e+14,40.358055,74.511620,500.000000

In [33]:
# # Analyzing data using d-tale
# import dtale

# d = dtale.show(data)
# d.open_browser()

In [28]:
data.memory_usage(deep=True).sum()

np.int64(3307279894)